[submodule "mouse"]
	path = mouse
	url = git://github.com/backbone-input/mouse.git
[submodule "scroll"]
	path = scroll
	url = git://github.com/backbone-input/scroll.git
[submodule "keys"]
	path = keys
	url = git://github.com/backbone-input/keys.git
[submodule "touch"]
	path = touch
	url = git://github.com/backbone-input/touch.git
[submodule "motion"]
	path = motion
	url = git://github.com/backbone-input/motion.git
